{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="/css/default.css">

  <script src="/js/vendor/marked.js"></script>
  <script src="/js/vendor/highlight.pack.js"></script>
  <script src="/codemirror/lib/codemirror.js"></script>
  <script src="/codemirror/xml/xml.js"></script>
  <script src="/codemirror/markdown/markdown.js"></script>
  <script src="/codemirror/gfm/gfm.js"></script>
  <script src="/codemirror/javascript/javascript.js"></script>
{% endblock %}

{% block navbar %}
  <form class="navbar-form navbar-right">
      <div class="form-group">
          <input id="title" type="text" pattern=".{5,10}" title="5 to 10 characters" placeholder="Choose a title" class="form-control">
      </div>
      <button id="save" class="btn btn-success">Save</button>
      <a href="/" class="btn btn-warning">Cancel</a>
  </form>
{% endblock %}

{% block content %}
  <div id="form-alert" class="alert alert-warning hide fade in">
      <button type="button" class="close" aria-hidden="true">&times;</button>
      <strong>Warning!</strong> You must give a title and some content in order to add an article :)
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="row">
              <h4>Edit your content here in Markdown</h4>
          </div>
          <div id="in" class="row">
              <form><textarea id="code">{{article.content}}</textarea></form>
          </div>
      </div>
      <div class="col-md-6">
          <div class="row">
              <h4>... and it magically appears here!</h4>
          </div>
          <div id="out" class="row"></div>
      </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/js/add.js"></script>
{% endblock %}
