<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{title}}</a>
            </div>
            <div class="navbar-right navbar-collapse collapse">
                <a href="add" class="btn btn-success navbar-btn">Add article</a>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{#articles}}
            <div class="col-md-4 article">
                <h2>
                    {{title}}
                    <a href="delete/{{id}}" class="btn btn-xs btn-danger article-btn pull-right hide fade in">Delete</a>
                    <a href="edit/{{id}}" class="btn btn-xs btn-info article-btn pull-right hide fade in">Edit</a>
                </h2>
                {{{content}}}
            </div>
            {{/articles}}
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
